.container {
    width: 500px;
    margin: 0 auto;
    margin-top: 200px;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        .file-input {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #f9f9f9;
            color: #333;
            font-size: 16px;
            cursor: pointer;
            outline: none;
        }
  
        .file-input:hover {
            border-color: #999;
        }
}